<footer class="footer">

	<div class="container">

		<section class="ft-main">
			<div class="ft-main-column">
				<h3>About</h3>
				<p>This website was created by the <a href="https://www.fairfaxcounty.gov/elections/"><strong>Fairfax County Office of Elections</strong></a>.</p>
				<p>If you are interested in serving as an election officer, you must first apply through the Election Officer Portal.</p>
			</div>
			<div class="ft-main-column">
				<h3>Helpful Links</h3>
				<ul>
					<li><a href="https://www.vote4fairfax.com">Election Officer Portal</a></li>
					<li><a href="https://www.vote4fairfax.com/apply/">Election Officer Application</a></li>
					<li><a href="https://www.fairfaxcounty.gov/elections/absentee">Absentee Voting Information</a></li>
					<li><a href="https://vote.elections.virginia.gov/VoterInformation/Lookup/absentee">Apply for a mailed absentee ballot</a></li>
					<li><a href="https://vote.elections.virginia.gov/VoterInformation">Virginia Citizens Portal</a></li>
				</ul>
			</div>
			<div class="ft-main-column" style="width:22rem; margin-right:0;">
				<h3>Resources</h3>
				<p><strong>Need help?</strong><br/>
				703-324-4735 (8:00 AM - 4:30 PM)<br/>
				<a href="mailto:ElectionOfficerTraining@fairfaxcounty.gov">ElectionOfficerTraining@fairfaxcounty.gov</a>
				</p>

				<p><strong>Fairfax County Office of Elections</strong><br/>
				12000 Government Center Pkwy<br/>
				Fairfax, VA 22035<br/>
				</p>

				<small><em><p style="color:#666;" title="{{ site.time | date: '%c' }}">Site version: {{ site.time | date: "%a" | truncate:1,'' | upcase }}{{ site.time | date: "%I%M" }}</p></em></small>
			</div>
		</section>

		<div class="post-date">
			<!-- <a href="mailto:ElectionOfficerTraining@fairfaxcounty.gov">ElectionOfficerTraining@fairfaxcounty.gov</a> -->
			<!-- <br/> -->
			<!-- <span>703-324-4735 (8:00 AM - 4:30 PM)</span> -->
			<!-- <br/> -->
			<!-- <span title="{{ site.time | date: '%c' }}">Rev {{ site.time | date: "%a" | truncate:1,'' | upcase }}{{ site.time | date: "%I%M" }}</span> -->
		</div>
		<!-- Liquid time tags: https://docs.shopify.com/themes/liquid/filters/additional-filters -->

	</div>

</footer>