---
layout: default
---

<!-- Define previous, current, and next slide URLs -->

{% assign slideCurrentNum = page.name | slice: 0, 3 | plus: 0 %}
{% assign slidePreviousNum = slideCurrentNum | minus: 1 %}
{% assign slideNextNum = slideCurrentNum | plus: 1 %}

{% assign theCurrentPage = page.name | remove: ".md" | append: "/" %}
{% assign theDirectory = page.dir | remove: theCurrentPage %}
{% assign theArray = site.pages | where_exp:"item","item.dir contains theDirectory" | sort: "name" %}

{% for item in theArray %}

	{% if item.name == page.name %}
		{% assign prev = forloop.index | minus: 2 %}
	    {% assign next = forloop.index | plus: 0 %}

	    {% assign slidePreviousURL = theArray[prev].dir %}
	    {% assign slideNextURL = theArray[next].dir %}

	    {% break %}
    {% endif %}

{% endfor %}

<!-- Previous and next slide links -->

<div class="slides-nav">
	<div>
		{% if slidePreviousNum > 0 %}
		<a href="{{ slidePreviousURL }}">&laquo;&nbsp;{{ slidePreviousNum | prepend: '000' | slice: -3, 3 }}</a>
		{% endif %}
	</div>
	<div>
		<a href="../../toc">Table of Contents</a>
	</div>
	<div class="slides-nav-next">
		{% unless page.lastSlide %}
		<a href="{{ slideNextURL }}">{{ slideNextNum | prepend: '000' | slice: -3, 3 }}&nbsp;&raquo;</a>
		{% endunless %}
	</div>
</div>


<h1>
	{{ page.title }}
</h1>

<div>
	{{ content }}
</div>

<div style="border: 0px solid black; background: #eeec; border-radius: 10px; padding: 1em;">
	{% if page.question1 %}
		
	<p><strong>{{ page.question1 }}</strong></p>
		
		<ol type="A">
			
			{% if page.option1A %}
			<input type="radio" name="type" onclick="document.getElementById('reveal-1A').style.display='block';" value="option1A"> A — {{ page.option1A }}
			<div style="min-height: 2em">
			{% if page.solution1 == "A" %}
			<span id="reveal-1A" style="display:none; color: darkgreen;">Yes, that's right!</span>
			{% else %}
			<span id="reveal-1A" style="display:none; color: rgba(255, 0, 0, 0.666);">No, try again.</span>
			{% endif %}
			</div>
			{% endif %}

			{% if page.option1B %}
			<input type="radio" name="type" onclick="document.getElementById('reveal-1B').style.display='block';" value="option1B"> B — {{ page.option1B }}
			<div style="min-height: 2em">
			{% if page.solution1 == "B" %}
			<span id="reveal-1B" style="display:none; color: darkgreen;">Yes, that's right!</span>
			{% else %}
			<span id="reveal-1B" style="display:none; color: rgba(255, 0, 0, 0.666);">No, try again.</span>
			{% endif %}
			</div>
			{% endif %}

			{% if page.option1C %}
			<input type="radio" name="type" onclick="document.getElementById('reveal-1C').style.display='block';" value="option1C"> C — {{ page.option1C }}
			<div style="min-height: 2em">
			{% if page.solution1 == "C" %}
			<span id="reveal-1C" style="display:none; color: darkgreen;">Yes, that's right!</span>
			{% else %}
			<span id="reveal-1C" style="display:none; color: rgba(255, 0, 0, 0.666);">No, try again.</span>
			{% endif %}
			</div>
			{% endif %}

			{% if page.option1D %}
			<input type="radio" name="type" onclick="document.getElementById('reveal-1D').style.display='block';" value="option1D"> D — {{ page.option1D }}
			<div style="min-height: 2em">
			{% if page.solution1 == "D" %}
			<span id="reveal-1D" style="display:none; color: darkgreen;">Yes, that's right!</span>
			{% else %}
			<span id="reveal-1D" style="display:none; color: rgba(255, 0, 0, 0.666);">No, try again.</span>
			{% endif %}
			</div>
			{% endif %}

			{% if page.option1E %}
			<input type="radio" name="type" onclick="document.getElementById('reveal-1E').style.display='block';" value="option1E"> E — {{ page.option1E }}
			<div style="min-height: 2em">
			{% if page.solution1 == "E" %}
			<span id="reveal-1E" style="display:none; color: darkgreen;">Yes, that's right!</span>
			{% else %}
			<span id="reveal-1E" style="display:none; color: rgba(255, 0, 0, 0.666);">No, try again.</span>
			{% endif %}
			</div>
			{% endif %}

		</ol>

		<div style="display:none;">
		{% if page.solution1 %}
		<p><strong>MORE INFO: (will be revealed upon selecting correct answer)</strong></p>
		<p style="border: 1px solid black; background: lightgray; filter:blur(10px); user-select: none;">
		This is a test answer.
		</p>
		{% endif %}
		</div>

	{% endif %}
</div>

{% unless page.lastSlide %}
		<a href="{{ slideNextURL }}">
			<div style="display:inline-block;background: #333;color: white;border: 1px solid #000;padding: 1em;margin-top: 2em;box-shadow: 5px 5px 10px gray;border-radius: 0.3em;font-size: larger;font-weight: bold;">Go to next page &nbsp;&raquo;
			</div>
		</a>
{% endunless %}


<script>

	$(function() {
			$('input[name="type"]').on('click', function() {
				if ($(this).val() == 'option1A') {
					$('#reveal-1A').show();
				}
			});
	});

</script>