---
layout: page
isClass: true
---

{{ content }}

<div>

{% assign theDirectory = page.dir | remove: '/thumbnails/' | append: '/slides/' %}
{% assign theArray = site.pages | where_exp:"item","item.dir contains theDirectory" %}


{% for item in theArray %}

  {% if item.slug %}
  {% assign theSlug = item.slug %}
  {% else %}
  {% assign theSlug = item.name | remove: ".md" %}
  {% endif %}


{% if item.name != "000.md" %}

<a href="{{ item.url | relative_url }}">
<img class="slide-thumbnail" src="{{ site.url }}{{ site.baseurl }}{{ theDirectory | remove: '/slides/' | append: '/images/' }}{{ theSlug }}.png">
</a>

{% endif %}  
{% endfor %}

</div>