---
layout: default
---

<div class="slides-nav">
	<div>
		{% if page.previous.url %}
		<a href="{{page.previous.url | relative_url }}">&laquo;&nbsp;{{page.previous.slug}}</a>
		{% endif %}
	</div>
	<div>
		<a href="../toc">Table of Contents</a>
	</div>
	<div class="slides-nav-next">
		{% if page.next.url %}
		<a href="{{page.next.url | relative_url }}">{{page.next.slug}}&nbsp;&raquo;</a>
		{% endif %}
	</div>
</div>


<img src="../images/{{ page.slug }}.png" style="max-width:100%; border-radius:10px; max-height:85vh; margin: 0 auto; display:block;box-shadow: 0 0 10px 5px rgba(0,0,0,.35);">

<div>
	<audio id="audioplayer" controls autoplay style="width:100%;">
		<source src="../audio/{{ page.slug }}.m4a" type="audio/mp4">
			<!-- <source src="horse.mp3" type="audio/mpeg"> -->
				<!-- Your browser does not support the audio tag. -->
			</audio>

			<script>
				var audio = document.getElementById('audioplayer');

				function redirectHandler() {
					window.location.href = '{{page.next.url | relative_url }}';
				}

				function delayRedirect() {
					window.setTimeout(redirectHandler,2000);

				}

				audio.addEventListener('ended', delayRedirect, false);
			</script>

		</div>


		<h1>
			{{ page.title }}
		</h1>

		<div>
			{{ content }}
		</div>

{% if page.confetti %}
	{% include ravi-confetti.html %}
{% endif %}