---
layout: page
isClass: true
---

{{ content }}

<div>

{% assign theDirectory = page.dir | remove: '/summary/' | append: '/slides/' %}
{% assign theArray = site.pages | where_exp:"item","item.dir contains theDirectory" %}


{% for item in theArray %}

  {% if item.slug %}
  {% assign theSlug = item.slug %}
  {% else %}
  {% assign theSlug = item.name | remove: ".md" %}
  {% endif %}

  {% if item.section and item.section != "" %}
  {% assign theSection = item.section | append: ": " %}
  {% else %}
  {% assign theSection = "" %}
  {% endif %}

  {% if item.title and item.title != "" %}
  {% assign theTitle = item.title %}
  {% else %}
  {% assign theTitle = "Page " | append: theSlug %}
  {% endif %}

{% if item.name != "000.md" %}

  <div class="slide-summary">

      <div class="slide-image">
        {% if item.layout == "slide" or item.layout == "question" %}
        <a href="{{ item.url | relative_url }}">
            <img src="../images/{{ theSlug }}.png">
        </a>
        {% endif %}
        {% if item.layout == "slide-video" %}
        <div style="position: relative; height: 0; padding-bottom: 75%; width: 100%; border-radius:10px; margin:0 auto; display:block; box-shadow: 0 0 10px 5px rgba(0,0,0,.35);">

            <iframe id="embedVideo" style="position: absolute; top:0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/{{ item.videoID }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        {% endif %}
    </div>
    <div class="slide-notes">
        
        <p><strong>{{ theSlug }}. {{ theSection }}<a href="{{ item.url | relative_url }}">{{ theTitle }}</a></strong></p>

        {{ item.content | markdownify }}

    </div>

</div>

{% endif %}  
{% endfor %}

</div>