---
layout: page
isClass: true
---

{{ page.content }}

{% assign slidesDirectory = page.dir | remove: '/toc/' | append: '/slides/' %}
{% assign slidesArray = site.pages | where_exp:"item","item.dir contains slidesDirectory" %}

<div>

<ul>

{% for item in slidesArray %}
  
  {% if item.slug %}
  {% assign theSlug = item.slug %}
  {% else %}
  {% assign theSlug = item.name | remove: ".md" %}
  {% endif %}

  {% if item.section and item.section != "" %}
  {% assign theSection = item.section | append: ": " %}
  {% else %}
  {% assign theSection = "" %}
  {% endif %}

  {% if item.title and item.title != "" %}
  {% assign theTitle = item.title %}
  {% else %}
  {% assign theTitle = "Page " | append: theSlug %}
  {% endif %}

  {% if theSlug != "000" %}
  <li>{{ theSlug }}. {{ theSection }}<a href="{{ item.url | relative_url }}">{{ theTitle }}</a></li>
  {% endif %}

<!--   {% comment %}
  {% if item.section and item.section != "" and item.section != nil %}
  <li>{{ theSlug }}. {{ item.section }}: <a href="{{ item.url | relative_url }}">{{ theTitle }}</a></li>
  {% elsif item.title and item.title != "" and item.title != nil %}
  <li>{{ theSlug }}. <a href="{{ item.url | relative_url }}">{{ theTitle }}</a></li>
  {% else %}
  <li>{{ theSlug }}. <a href="{{ item.url | relative_url }}">{{ theTitle }}</a></li>
  {% endif %}
  {% endcomment %} -->

{% endfor %}

</ul>


</div>